---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout 
    title="About | Cristian Alvarado"
	description="Learn about Cristian Alvarado's most recent projects"
	favicon='../favicon.svg'>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Gracias por leerme. Lee a conituaci칩n m치s detalles acerca de mi trayectoria y formaci칩n."
			>
				<img
					width="1024"
					height="468"
					src="/portafolio/assets/at-work.png"
					alt="Cristian Alvarado about"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background t칠cnico</h2>
				<div class="content">
					<p class="parJustify">
						Como <b>Ingeniero de Software</b>, me he especializado en la creaci칩n de soluciones tecnol칩gicas avanzadas, 
						incluyendo el liderazgo en el desarrollo de un CRM modular que revolucion칩 la gesti칩n de relaciones 
						con clientes en varias empresas. Mi trabajo en la Universidad Tecnol칩gica de Pereira (UTP) incluy칩 
						el redise침o de interfaces de usuario, mejorando significativamente la interactividad y la experiencia 
						del usuario en sus sistemas acad칠micos. Impulsado por una curiosidad constante y un firme compromiso 
						con la excelencia, mantengo una actualizaci칩n continua en las 칰ltimas innovaciones del sector. 
						<br>
						Mi enfoque trasciende la mera adopci칩n de tecnolog칤as de vanguardia; aplico estos conocimientos 
						para dise침ar herramientas que optimicen procesos y enriquezcan la vida cotidiana, siempre alineado 
						con los principios de las ciencias inform치ticas. Esta pasi칩n por la tecnolog칤a se complementa con
						mi dedicaci칩n a la ense침anza universitaria, donde combino teor칤a y pr치ctica para inspirar y capacitar 
						a futuros profesionales en el campo del desarrollo de software.
					</p>
					<br>
					<p class="parJustify">
						 Mi desarrollo profesional y personal se basa en una continua autoformaci칩n, complementada
						 por una fuerte habilidad para el trabajo en equipo. Destaco en entornos colaborativos, 
						 donde priorizo la comunicaci칩n efectiva y la empat칤a. La experiencia en proyectos complejos
						 ha refinado mi pensamiento cr칤tico, equip치ndome para enfrentar desaf칤os t칠cnicos con soluciones
						 pr치cticas y creativas. Valoro especialmente la adaptabilidad y la habilidad para resolver conflictos,
						 lo que, junto con mi enfoque en el aprendizaje continuo, me permite aportar significativamente a cualquier equipo
						 de cara a nuevos desafios.
					</p>
					<br>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educaci칩n</h2>
				<div class="content">
					<p><b>Ingeniero de software - </b>Docente universitario</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p class="parJustify">
						<br>
						游빓 Skills T칠cnicas 拘勇
                        <br>
						<br>
						<b>Frameworks JavaScript: </b> Proficiencia en React, Vue.js, Angular, Astro para crear interfaces de usuario interactivas y eficientes.<br>
						<b>Desarrollo de Aplicaciones Web Progresivas (PWA): </b> Experiencia en la construcci칩n de PWAs.<br>
						<b>Responsive Web Design: </b> Dise침o de sitios web adaptables para una experiencia 칩ptima en m칰ltiples dispositivos, utilizando CSS moderno, Flexbox y CSS Grid, tailwind, preprocesadores entre otros.<br>
						<b>Herramientas de Desarrollo y Automatizaci칩n: </b> Manejo de Webpack, Babel, y control de versiones con Git y Git actions.<br>
						<b>Herramientas de Dise침o y Prototipado: </b> Uso avanzado de editores gr치ficos ( Affinity ) para generar imagenes de alta calidad y herramientas de prototipado como figma.<br>
						<b>Optimizaci칩n de Rendimiento y Accesibilidad Web: </b> Expertise en mejorar el tiempo de carga y accesibilidad de las aplicaciones web, cumpliendo con los est치ndares WCAG.<br>
						<b>Testing y Debugging: </b> Competente en pruebas unitarias, de integraci칩n y end-to-end.<br>
						<b>SEO: </b> Conocimientos b치sicos en SEO para mejorar la visibilidad de sitios web en motores de b칰squeda y bot de indexaci칩n.<br>
						<br>
						<br>
						游눑 Skills Blandas 拘勇
						<br>
						<br>
						<b>Trabajo en Equipo y Colaboraci칩n:</b> Capacidad para integrarme y colaborar eficientemente en equipos multidisciplinarios.<br>
						<b>Comunicaci칩n Efectiva:</b> Habilidad para explicar conceptos t칠cnicos de manera clara a equipos no t칠cnicos.<br>
						<b>Pensamiento Cr칤tico y Resoluci칩n de Problemas:</b> Enfoque anal칤tico para identificar problemas y desarrollar soluciones creativas.<br>
						<b>Aprendizaje Continuo y Adaptabilidad:</b> Compromiso con el aprendizaje constante y la adaptaci칩n a tecnolog칤as emergentes.<br>
						<b>Gesti칩n del Tiempo y Organizaci칩n:</b> Habilidad para manejar eficazmente m칰ltiples proyectos y plazos.</p><br>
				</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
