---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout 
    title="About | Cristian Alvarado"
	description="Learn about Cristian Alvarado's most recent projects"
	favicon='../favicon.svg'>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Gracias por leerme. Lee a conituación más detalles acerca de mi trayectoria y formación."
			>
				<img
					width="1553"
					height="873"
					src="/portafolio/assets/at-work.jpg"
					alt="Cristian Alvaradoat work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p class="parJustify">
						Ingeniero de software con amplia trayectoria en la creación de soluciones tecnológicas vanguardistas.
						 Mi constante curiosidad y compromiso con la excelencia me llevan a estar siempre al tanto de las más 
						 recientes innovaciones en el campo.
						 Mi meta no es sólo estar a la vanguardia, sino utilizar este conocimiento para diseñar y desarrollar 
						 herramientas que tengan un impacto tangible y positivo en la vida diaria de las personas, optimizando
						 procesos y mejorando experiencias implementando la trasnversalidad a los principios de las ciencias informáticas.
					</p>
					<br>
					<p class="parJustify">
						La formación constante y autodidacta mezclada con una profunda inclinación por el trabajo en equipo, 
						destaca en ambientes colaborativos donde la comunicación es clara y la empatía son la clave. 
						Mi experiencia en proyectos complejos ha desarrollado particulamente mi pensamiento crítico, permitiéndome 
						abordar desafíos técnicos con soluciones innovadoras y eficientes. Valoro la adaptabilidad 
						y la resolución de conflictos, habilidades que he perfeccionado en entornos dinámicos. 
						Mi enfoque en el crecimiento continuo me impulsa a aprender constantemente y a contribuir 
						significativamente a mi equipo.
					</p>
					<br>
					<p class="parJustify">
						Soy un profesional de TI con experiencia en sectores público y privado, 
						destacándome por mi habilidad en adaptarme a entornos dinámicos y en constante evolución, 
						fusionando perspectivas técnicas y y apoyandome en estratégicas para impulsar la transformación digital y la eficiencia operativa.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
