---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout 
    title="About | Cristian Alvarado"
	description="Learn about Cristian Alvarado's most recent projects"
	favicon='../favicon.svg'>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Gracias por leerme. Lee a conituación más detalles acerca de mi trayectoria y formación."
			>
				<img
					width="1553"
					height="873"
					src="/portafolio/assets/at-work.jpg"
					alt="Cristian Alvaradoat work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background técnico</h2>
				<div class="content">
					<p class="parJustify">
						"Como Ingeniero de Software, me he especializado en la creación de soluciones tecnológicas avanzadas, 
						incluyendo el liderazgo en el desarrollo de un CRM modular que revolucionó la gestión de relaciones 
						con clientes en varias empresas. Mi trabajo en la Universidad Tecnológica de Pereira (UTP) incluyó 
						el rediseño de interfaces de usuario, mejorando significativamente la interactividad y la experiencia 
						del usuario en sus sistemas académicos. Impulsado por una curiosidad constante y un firme compromiso 
						con la excelencia, mantengo una actualización continua en las últimas innovaciones del sector. 
						Mi enfoque trasciende la mera adopción de tecnologías de vanguardia; aplico estos conocimientos 
						para diseñar herramientas que optimicen procesos y enriquezcan la vida cotidiana, siempre alineado 
						con los principios de las ciencias informáticas. Esta pasión por la tecnología se complementa con
						 mi dedicación a la enseñanza universitaria, donde combino teoría y práctica para inspirar y capacitar 
						 a futuros profesionales en el campo del desarrollo de software."
					</p>
					<br>
					<p class="parJustify">
						Mi desarrollo profesional y personal se basa en una continua autoformación, complementada
						 por una fuerte habilidad para el trabajo en equipo. Destaco en entornos colaborativos, 
						 donde priorizo la comunicación efectiva y la empatía. La experiencia en proyectos complejos
						 ha refinado mi pensamiento crítico, equipándome para enfrentar desafíos técnicos con soluciones
						 prácticas y creativas. Valoro especialmente la adaptabilidad y la habilidad para resolver conflictos,
						 lo que, junto con mi enfoque en el aprendizaje continuo, me permite aportar significativamente a cualquier equipo
						 de cara a nuevos desafios.
					</p>
					<br>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p><b>Ingeniero de software</b> -con tarjeta profesional</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p class="parJustify">
						<br>
						-Técnicas:
                        <br>
						<br>
						<b>Frameworks JavaScript: </b> Proficiencia en React, Vue.js, Angular, Astro para crear interfaces de usuario interactivas y eficientes.<br>
						<b>Desarrollo de Aplicaciones Web Progresivas (PWA): </b> Experiencia en la construcción de PWAs.<br>
						<b>Responsive Web Design: </b> Diseño de sitios web adaptables para una experiencia óptima en múltiples dispositivos, utilizando CSS moderno, Flexbox y CSS Grid, tailwind, preprocesadores entre otros.<br>
						<b>Herramientas de Desarrollo y Automatización: </b> Manejo de Webpack, Babel, y control de versiones con Git y Git actions.<br>
						<b>Herramientas de Diseño y Prototipado: </b> Uso avanzado de editores gráficos ( Affinity ) para generar imagenes de alta calidad y herramientas de prototipado como figma.<br>
						<b>Optimización de Rendimiento y Accesibilidad Web: </b> Expertise en mejorar el tiempo de carga y accesibilidad de las aplicaciones web, cumpliendo con los estándares WCAG.<br>
						<b>Testing y Debugging: </b> Competente en pruebas unitarias, de integración y end-to-end.<br>
						<b>SEO: </b> Conocimientos básicos en SEO para mejorar la visibilidad de sitios web en motores de búsqueda y bot de indexación.<br>
						<br>
						<br>
						-Blandas:
						<br>
						<br>
						<b>Trabajo en Equipo y Colaboración:</b> Capacidad para integrarme y colaborar eficientemente en equipos multidisciplinarios.<br>
						<b>Comunicación Efectiva:</b> Habilidad para explicar conceptos técnicos de manera clara a equipos no técnicos.<br>
						<b>Pensamiento Crítico y Resolución de Problemas:</b> Enfoque analítico para identificar problemas y desarrollar soluciones creativas.<br>
						<b>Aprendizaje Continuo y Adaptabilidad:</b> Compromiso con el aprendizaje constante y la adaptación a tecnologías emergentes.<br>
						<b>Gestión del Tiempo y Organización:</b> Habilidad para manejar eficazmente múltiples proyectos y plazos.</p><br>
				</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
