---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';



// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout >
	<div class="stack gap-20 lg:gap-48" >
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hola! ,soy Cristian"
					align="start"
					
                >
					<div>
						Ingeniero de software, Frontend, Informático de<a href="https://maps.app.goo.gl/iLTDQjemn7mkMHHr7" target="_blank" rel="noopener noreferrer"><br>
							<img src="/portafolio/assets/ubicacion.svg" alt="" width="20" >  Pereira, Risaralda. </a><a href="/portafolio/about/" class="linka">leer más</a>
					</div>
				

				<div class="roles">
					<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
					<Pill><Icon icon="pencil-line" size="1.33em" /> Software Designer </Pill>
					<Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker Frontend</Pill>
				</div>
				</Hero>


				
					<img class="floating"
					alt="Cristian Alvarado"
					width="450"
					height="auto"
					src="/portafolio/assets/perfil.png"
				    />
				
	   
				
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Un poco de lo que hago</h3>
					<p>Mi intensión se enfoca en co-crear experiencias que despierten la curiosidad y faciliten tareas mezclando la ingeniería y el diseño.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/portafolio/work/">
						Ver más
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Stack</h3>
					<p>
						Cada proyecto es diferente las necesidades y el tiempo son variables que me permiten determinar 
						la mejor solución para abordar un desafio, el uso de herramientras para el trabajo colaborativo 
						o individual van a la par con la industria y el estado del arte.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						{
							[
								{ title: 'JS Frontend', description: 'React, Angular, Next, Astro' },
								{ title: 'Inglés', description: 'B2' },
								{ title: 'CSS', description: 'Tailwind, SASS, Bootstrap' },
								{ title: 'BD DATA', description: 'MySQL, Mongo - Power BI' },
								{ title: 'Proto', description: 'Figma, Affinity Designer' },
								{ title: 'Habilidades blandas', description: 'Metodologias ágiles (Scrum))' }
							].map((brand) => (
								<li class="mention-card">
									<p>
										<strong>{brand.title}</strong><br />
										{brand.description}
									</p>
								</li>
							))
						}
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	a{
		text-decoration: none;
	}
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 3 / 4;
		object-fit: cover;
		object-position: top;
		transform: scale(1.2);
	    animation: pulse 3s infinite;
		
	}

	@keyframes pulse {
	0% {
		transform: scale(0.95);
		
	}

	70% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.95);
		
	}
}


	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 2.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('portafolio/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>


<script type="module" src="app.js"></script>