---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
  font-size: var(--text-3xl);
  color: var(--gray-0);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--gray-0); /* Cursor visible */
  animation: typewriter 4s steps(30) 1s forwards, 
             blinkCursor 1s infinite 5s, /* Parpadeo continuo después de 5s */
             hideCursor 500ms 11s forwards; /* Desaparición del cursor después del brillo */
}

.title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0; /* Ajustado para comenzar desde el inicio del texto */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg, 
    transparent, 
	
    rgba(0, 255, 234, 0.141), /* Verde turquesa */
    rgba(43, 200, 252, 0.27), /* Azul neón */
    rgba(126, 66, 255, 0.141), /* Morado neón */
	rgba(208, 141, 255, 0.204), /* Morado neón */
	rgba(0, 240, 236, 0.204), /* Morado neón */
    transparent
  ); /* Degradado de brillo suave */
  animation: textShine 2s 6s forwards; /* Comienza después de 8s, dura 2s */
  pointer-events: none; /* Evita que el pseudo-elemento bloquee el texto */
}


@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  0%, 50%, 100% { border-right-color: rgb(255, 255, 255); }
  25%, 75% { border-right-color: transparent; }
}

@keyframes hideCursor {
  to { border-right-color: transparent; }
}

@keyframes textShine {
  from { left: -100%; }
  to { left: 100%; } /* Mueve el brillo de izquierda a derecha */
}






	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
